body{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.carousel-item img {
    border-radius: 25px;
    overflow: hidden;
    object-fit: cover;
}
.carousel-control-prev {
    background-color: #3b313131;
    width: 10%;
}
.carousel-control-next {
    background-color: #3b313131;
    width: 10%;
}
footer {
    position: relative;
}
  
.text-left {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
  
.text-left ul {
    margin: 0;
}
  
footer p {
    margin: 0;
}
  
@media only screen and (max-width: 768px) {
    footer {
      padding-bottom: 120px;
    }
}
  